{% extends 'mainapp/base_template.html' %}
{% load static %}

{% block content %}
    {% include 'mainapp/includes/inc__nav_menu.html' %}

    <h1>Каталог</h1>

    <div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Комплектующие</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ноутбуки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Телефоны</a>
            </li>
        </ul>
    </div>

    <div class="card-group">
        <div class="goods">
            <div class="goods_card">
                <a href="/item">
                    <img class="img_150" src="/static/img/small/intel_i9_7960_300X300.jpg" alt="intel core i9 7960x">
                    <p>INTEL core i9 7960X</p>
                </a>
            </div>
            <div class="goods_card">
                <a href="/item">
                    <img class="img_150" src="/static/img/small/intel_i9_7960_300X300.jpg" alt="intel core i9 7960x">
                    <p>INTEL core i9 7960X</p>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
