<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Каталог Товаров</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>

<body>
    <div class="content">
        <header class="header">
            <div class="header_label">
                <a href="/">
                    <img class="img_150" src="/static/img/label.jpeg" alt="vintik and shpuntik label">
                </a>
            </div>
            <div class="header_menu">
                <ul class="header_menu_list">
                    <li class="header_menu_item"><a href="/" class="header_menu_link">Главная</a></li>
                    <li class="header_menu_item"><a href="/catalog" class="header_menu_link">Каталог</a></li>
                    <li class="header_menu_item"><a href="/contacts" class="header_menu_link">Контакты</a></li>
                </ul>
            </div>
        </header>

        <h1>Каталог</h1>

        <div class="goods">
            <div class="goods_card">
                <a href="/item">
                    <img class="img_150" src="/static/img/small/intel_i9_7960_300X300.jpg" alt="intel core i9 7960x">
                    <p>INTEL core i9 7960X</p>
                </a>
            </div>
            <div class="goods_card">
                <a href="goods/goods_template_i9.html">
                    <img class="img_150" src="/static/img/small/intel_i9_7960_300X300.jpg" alt="intel core i9 7960x">
                    <p>INTEL core i9 7960X</p>
                </a>
            </div>

        </div>

        <footer class="footer">
            <p class="footer_content"><small>все права защищены&copy;</small></p>
        </footer>
    </div>
</body>

</html>
