{% extends 'mainapp/base_template.html' %}
{% load static %}

{% block content %}

    <h1>Каталог</h1>

    <div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Комплектующие</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ноутбуки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Телефоны</a>
            </li>
        </ul>
    </div>

    <div class="card-group">
        {% for card in items %}
            {% include 'mainapp/includes/inc__goods_card.html' %}
        {% endfor %}
    </div>

{% endblock %}
