{% extends 'mainapp/base_template.html' %}

{% block content %}

    <h1>Адрес:</h1>
    <ul>
        <li>Телефон: +7(495)999-99-99</li>
        <li>Адрес: г.Москва, ул. Большая Садовая д.10</li>
        <li>
            <a href="mailto:shpuntik@transistor.com?subject=contact_us">shpuntik@transistor.com</a>
        </li>
    </ul>

    <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.5001654812168!2d37.591535051677205!3d55.7671845982545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a3974c0215f%3A0xbb12f248296e3e96!2z0JHQvtC70YzRiNCw0Y8g0KHQsNC00L7QstCw0Y8g0YPQuy4sIDEwLCDQnNC-0YHQutCy0LAsIDEyNTA0Nw!5e0!3m2!1sru!2sru!4v1544040082499"
            frameborder="0" allowfullscreen></iframe>

    <form class="contact_us" action="#">
        <fieldset>

            <legend>
                <h2>Напишите нам</h2>
            </legend>

            Имя: <input class="form_input" type="text" placeholder="Ваше имя"><br>
            E-mail: <input class="form_input" type="email" placeholder="name@mail.com"><br>
            Тема: <input class="form_input" type="text" placeholder="Тема сообщения"><br>
            <p>Текст Сообщения:</p>
            <textarea class="form_text_area" rows="10" cols="30"></textarea>
            <br>
            <button type="submit">Отправить</button>
            <button type="reset">Очистить</button>

        </fieldset>
    </form>

{% endblock %}
