{% extends 'mainapp/base_template.html' %}

{% block content %}
    {% include 'mainapp/includes/inc__nav_menu.html' %}
    <div class="content_info">
        <h1>Шпунтик и&nbsp;Транзистор</h1>

        <p>
            Добро пожаловать в&nbsp;наш магазин электоники и&nbsp;техники.<br>
            Мы&nbsp;в&nbsp;работе с&nbsp;1914&nbsp;года. Да. Никто еще не&nbsp;знал что такое Интернет, а&nbsp;мы&nbsp;уже
            работали.<br>
            Проходите, чувствуйте себя как дома, заказывайте.
        </p>
    </div>

{% endblock %}
