<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Шпунтик и&nbsp;Транзистор</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>

<body>
    <div class="content">
        <header class="header">
            <div class="header_label">
                <a href="index.html">
                    <img class="img_150" src="/static/img/label.jpeg" alt="vintik and shpuntik label">
                </a>
            </div>
            <div class="header_menu">
                <ul class="header_menu_list">
                    <li class="header_menu_item"><a href="/" class="header_menu_link">Главная</a></li>
                    <li class="header_menu_item"><a href="/catalog" class="header_menu_link">Каталог</a></li>
                    <li class="header_menu_item"><a href="/contacts" class="header_menu_link">Контакты</a></li>
                </ul>
            </div>
        </header>


        <div class="content_info">
            <h1>Шпунтик и&nbsp;Транзистор</h1>

            <p>
                Добро пожаловать в&nbsp;наш магазин электоники и&nbsp;техники.<br>
                Мы&nbsp;в&nbsp;работе с&nbsp;1914&nbsp;года. Да. Никто еще не&nbsp;знал что такое Интернет, а&nbsp;мы&nbsp;уже работали.<br>
                Проходите, чувствуйте себя как дома, заказывайте.
            </p>
        </div>

        <footer class="footer">
            <p class="footer_content"><small>все права защищены&copy;</small></p>
        </footer>
    </div>
</body>


</html>
