{% extends 'mainapp/base_template.html' %}
{% load static %}

{% block content %}

        <h1>{{ full_name }}</h1>

        <a href="{% static item_img %}" target="_blanck">
            <img class="desc_img" src="{% static item_img %}" alt="{{ page_title }}" title="{{ page_title }}">
        </a>

        <div class="short_desc">
            <h2 class="desc_header">Описание:</h2>
            <p class="short_desc_text">
                {{ description }}
            </p>
            <button class="buy_button" type="button">Купить</button>
        </div>

        <!-- <h2 class="desc_header">Характеристики:</h2>
        <ul class="characteristics_ul">
            <li class="test"><b>Ядро:</b> Skylake-X</li>
            <li><b>Socket:</b> LGA 2066</li>
            <li><b>Количество ядер:</b> 16</li>
            <li><b>Количество потоков:</b> 32</li>
            <li><b>Частота:</b> 2.8&nbsp;ГГц и&nbsp;4.2&nbsp;ГГц в&nbsp;режиме Turbo</li>
            <li><b>L1&nbsp;кэш:</b> 32&times;64&nbsp;КБ</li>
            <li><b>L2&nbsp;кэш:</b> 32&times;1024&nbsp;КБ</li>
            <li><b>L3&nbsp;кэш:</b> 22&nbsp;Мб</li>
            <li><b>Разрядность вычислений:</b> 64&nbsp;bit</li>
            <li><b>Тепловыделение:</b> 165&nbsp;Вт</li>
            <li><b>Максимальная температура:</b> 98&deg;С</li>
            <li><b>Версия PCI&nbsp;Express:</b> PCI Express&nbsp;3.0</li>
            <li><b>Количество каналов PCI&nbsp;Express:</b> 44</li>
            <li><b>Гарантия:</b> 36&nbsp;мес.</li>
            <li><b>Сайт производителя:</b> <a href="http://www.intel.ru" target="_blanck">www.intel.ru</a></li>
        </ul> -->
        <div class="thech_characteristics">
            <h2 class="desc_header">Характеристики:</h2>
            <table class="chrachteristics_table">
                <tr>
                    <td class="chrachteristics_name">Ядро:</td>
                    <td class="chrachteristics_value">{{ characteristics.core }}</td>
                </tr>
                <tr>
                    <td class="chrachteristics_name">Socket:</td>
                    <td class="chrachteristics_value">{{ characteristics.socket }}</td>
                </tr>
                <tr>
                    <td class="chrachteristics_name">Количество ядер:</td>
                    <td class="chrachteristics_value">{{ characteristics.cores_count }}</td>
                </tr>
                <tr>
                    <td class="chrachteristics_name">Количество потоков:</td>
                    <td class="chrachteristics_value">{{ characteristics.threads_count }}</td>
                </tr>
                <tr>
                    <td class="chrachteristics_name">Частота:</td>
                    <td class="chrachteristics_value">{{ characteristics.frequency }}</td>
                </tr>
                <tr>
                    <td class="chrachteristics_name">L1&nbsp;кэш:</td>
                    <td class="chrachteristics_value">{{ characteristics.l1_cache }}</td>
                </tr>
                <tr>
                    <td class="chrachteristics_name">L2&nbsp;кэш:</td>
                    <td class="chrachteristics_value">{{ characteristics.l2_cache }}</td>
                </tr>
                <tr>
                    <td class="chrachteristics_name">L3&nbsp;кэш:</td>
                    <td class="chrachteristics_value">{{ characteristics.l3_cache }}</td>
                </tr>
                <tr>
                    <td class="chrachteristics_name">Разрядность вычислений:</td>
                    <td class="chrachteristics_value">{{ characteristics.discharge }}</td>
                </tr>
                <tr>
                    <td class="chrachteristics_name">Тепловыделение:</td>
                    <td class="chrachteristics_value">{{ characteristics.heat }}</td>
                </tr>
                <tr>
                    <td class="chrachteristics_name">Максимальная температура:</td>
                    <td class="chrachteristics_value">{{ characteristics.max_temp }}</td>
                </tr>
                <tr>
                    <td class="chrachteristics_name">Версия PCI&nbsp;Express:</td>
                    <td class="chrachteristics_value">{{ characteristics.pci_version }}</td>
                </tr>
                <tr>
                    <td class="chrachteristics_name">Количество каналов PCI&nbsp;Express:</td>
                    <td class="chrachteristics_value">{{ characteristics.pci_channels_count }}</td>
                </tr>
                <tr>
                    <td class="chrachteristics_name">Гарантия:</td>
                    <td class="chrachteristics_value">{{ characteristics.guaranty }}</td>
                </tr>
                <tr>
                    <td class="chrachteristics_name">Сайт производителя:</td>
                    <td class="chrachteristics_value">
                        <a href="http://{{ characteristics.manufacture_link }}" target="_blanck">{{ characteristics.manufacture_link }}</a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="description">
            <h2 class="desc_header">Подробное описание:</h2>
            <p class="detailed_desc">
                {{ full_description }}
            </p>
        </div>

{% endblock %}
